//= require normalize-css/normalize

@import 'bourbon';
@import 'neat';
// @import 'bitters';

@include font-face(Gloriola_Display_Fat, '../fonts/Gloriola_Display_Fat', bold);

$ruby: #BD091B;
$max-width: 41em;

.big, .small {
  font-family: 'Gloriola_Display_Fat';
}

body {
  @include outer-container;

  font-size: 16px;
  text-align: center;
  color: $ruby;

  header {
    border-top: 1em solid $ruby;
  }

  section.big {
    font-size: 9em;
  }

  section.small {
    font-size: 6.25em;
  }

  section.pic {
    img {
      width: 25em;
    }
  }

}
