<!DOCTYPE html>
<html>
  <head class="no-js">
    <meta charset="utf-8">
    <title><%= current_page.data.title %></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "app" %>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="header-wrap">
        <div class="logo">
          <a href="/">Žižkov.rb</a>
        </div>
        <div class="claim">
          is coming to repo near you!
        </div>

        <div class="menu-wrap">
          <nav>
            <ul class="main-menu">
              <li>
                <a href="/" class="active">Blog</a>
              </li>
              <li>
                <a href="/archive/">Archive</a>
              </li>
              <li>
                <a href="/about-us/">About us</a>
              </li>
              <li>
                <a href="/contact/">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="content">
        <%= yield %>
      </div>
      <div class="sidebar">
        <div class="sidebar-item dark">
          <h3>Recent Posts</h3>
          <ul>
            <li>
              <a href="#">Lorem ipsum dolor sit</a>
            </li>
            <li>
              <a href="#">Lorem ipsum dolor sit amet dolor isci guláš</a>
            </li>
          </ul>
        </div>
        <div class="sidebar-item light">
          <h3>Github Repos</h3>
          <ul>
            <li>
              <a href="#">
                <div class="headline">aasm</div>
                Lorem ipsum dolor sit</a>
            </li>
            <li>
              <a href="#">
                <div class="headline">aasm</div>
                Lorem ipsum dolor sit amet dolor isci guláš</a>
            </li>
            <li>
              <a href="#">
                <div class="headline">aasm</div>
                Lorem ipsum dolor sit</a>
            </li>
            <li>
              <a href="#">
                <div class="headline">aasm</div>
                Lorem ipsum dolor sit amet dolor isci guláš</a>
            </li>
          </ul>
        </div>
        <div class="sidebar-item dark">
          <h3>Žižkov.rb team Twitter feed</h3>
          <ul>
            <li>
              <a href="#">
                <div class="headline">@retrorubies on Feb 22</div>
"There is no way to unfreeze a frozen object in Ruby (http://ruby-doc.org/core-2.2.0/Object.html#method-i-freeze …)." Really? What about melting? https://github.com/zizkovrb/melt </a>
            </li>
            <li>
              <a href="#">
                <div class="headline">@retrorubies on Feb 22</div>
"There is no way to unfreeze a frozen object in Ruby (http://ruby-doc.org/core-2.2.0/Object.html#method-i-freeze …)." Really? What about melting? https://github.com/zizkovrb/melt </a>
            </li>
          </ul>
        </div>
      </div>

      <footer class="clearfix">
        <div class="made">
          Made with <span class="heart">&hearts;</span> by Žižkov.rb team<br>
          Designed by <a href="http://www.attraco.net/cs/" target="_blank">Attraco</a>, supported by <a href="http://www.laststar.eu/" target="_blank">LastStar</a>
        </div>
        <div class="feeds">
          Github <a href="https://twitter.com/zizkovrb/" target="_blank">@zizkovrb</a><br>
          Twitter <a href="https://github.com/zizkovrb/" target="_blank">@zizkovrb</a>
        </div>
      </footer>

    </div>

    <%= javascript_include_tag "app" %>
  </body>
</html>
