---
title: 'About us | Žižkov.rb'
---

<h1>About Us</h1>

<div class="description">
  <p>
    VHS kale chips cray drinking vinegar Pinterest squid twee, selfies swag pour-over actually.  Helvetica locavore cold-pressed wayfarers, ennui gentrify pour-over trust fund Etsy craft beer pickled blog Schlitz retro.  +1 bicycle rights deep v ugh 90's vinyl slow-carb, street art lomo post-ironic iPhone church-key.  Four loko Godard banjo Carles, master cleanse kitsch put a bird on it plaid sartorial hoodie bicycle rights skateboard beard.  3 wolf moon stumptown skateboard, try-hard Carles meh vinyl PBR&amp;B hoodie deep v Odd Future narwhal Austin Portland.  Narwhal direct trade  single-origin coffee, try-hard leggings gluten-free cred PBR photo booth health goth post-ironic.  Scenester Godard cred migas fap dreamcatcher, selfies pug irony freegan letterpress church-key.
  </p>
</div>

<div class="members">
  <div class="member">
    <img src="http://satyr.io/100x100/1" class="photo" alt="Josef Šimánek" />
    <h2>Josef Šimánek</h2>
    <div class="occupation">
      <span>Programmer, Beer Enthusiast</span> | <span>@retrorubies</span>
    </div>
    <div class="social">
      <a href="#"><i class="icon-github"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-stackoverflow"></i></a>
    </div>
    <div class="about">
      <p>
        Shoreditch bitters YOLO pug Carles.  Crucifix street art scenester, Vice Helvetica Echo Park wolf.  Ethical fingerstache cray slow-carb church-key vegan.  Single-origin coffee beard fingerstache farm-to-table Banksy scenester.  Small batch tofu Etsy, Pinterest sriracha 90's try-hard fap meggings American Apparel Echo Park Brooklyn.  Semiotics food truck squid distillery +1 church-key banjo.  Whatever skateboard quinoa, retro asymmetrical fingerstache Pinterest gastropub cornhole mumblecore plaid distillery PBR&amp;B cliche.
      </p>
    </div>
  </div>
  <div class="member">
    <img src="http://satyr.io/100x100/2" class="photo" alt="Josef Pospíšil" />
    <h2>Josef Pospíšil</h2>
    <div class="occupation">
      <span>Programmer, Weed Enthusiast</span> | <span>@damnpepe</span>
    </div>
    <div class="social">
      <a href="#"><i class="icon-github"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-stackoverflow"></i></a>
    </div>
    <div class="about">
      <p>
        Shoreditch bitters YOLO pug Carles.  Crucifix street art scenester, Vice Helvetica Echo Park wolf.  Ethical fingerstache cray slow-carb church-key vegan.  Single-origin coffee beard fingerstache farm-to-table Banksy scenester.  Small batch tofu Etsy, Pinterest sriracha 90's try-hard fap meggings American Apparel Echo Park Brooklyn.  Semiotics food truck squid distillery +1 church-key banjo.  Whatever skateboard quinoa, retro asymmetrical fingerstache Pinterest gastropub cornhole mumblecore plaid distillery PBR&amp;B cliche.
      </p>
    </div>
  </div>
  <div class="member">
    <img src="http://satyr.io/100x100/3" class="photo" alt="Patrik Jíra" />
    <h2>Patrik Jíra</h2>
    <div class="occupation">
      <span>Programmer, Saxophone Enthusiast</span> | <span>@papricek</span>
    </div>
    <div class="social">
      <a href="#"><i class="icon-github"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-stackoverflow"></i></a>
    </div>
    <div class="about">
      <p>
        Shoreditch bitters YOLO pug Carles.  Crucifix street art scenester, Vice Helvetica Echo Park wolf.  Ethical fingerstache cray slow-carb church-key vegan.  Single-origin coffee beard fingerstache farm-to-table Banksy scenester.  Small batch tofu Etsy, Pinterest sriracha 90's try-hard fap meggings American Apparel Echo Park Brooklyn.  Semiotics food truck squid distillery +1 church-key banjo.  Whatever skateboard quinoa, retro asymmetrical fingerstache Pinterest gastropub cornhole mumblecore plaid distillery PBR&amp;B cliche.
      </p>
    </div>
  </div>
  <div class="member">
    <img src="http://satyr.io/100x100/4" class="photo" alt="Pavel Ševčík" />
    <h2>Pavel Ševčík</h2>
    <div class="occupation">
      <span>Coder, Beer Enthusiast</span> | <span>@pajasevi</span>
    </div>
    <div class="social">
      <a href="#"><i class="icon-github"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-facebook"></i></a>
      <a href="#"><i class="icon-gplus"></i></a>
    </div>
    <div class="about">
      <p>
        Shoreditch bitters YOLO pug Carles.  Crucifix street art scenester, Vice Helvetica Echo Park wolf.  Ethical fingerstache cray slow-carb church-key vegan.  Single-origin coffee beard fingerstache farm-to-table Banksy scenester.  Small batch tofu Etsy, Pinterest sriracha 90's try-hard fap meggings American Apparel Echo Park Brooklyn.  Semiotics food truck squid distillery +1 church-key banjo.  Whatever skateboard quinoa, retro asymmetrical fingerstache Pinterest gastropub cornhole mumblecore plaid distillery PBR&amp;B cliche.
      </p>
    </div>
  </div>
</div>
