---
title: 'Archive | Žižkov.rb'
pageable: true
---


<div class="blog-archive">
  <h1>Blog Archive</h1>

  <% blog.articles.each do |article| %>
    <article class="archive-article">
      <h2>
        <%= link_to article.title, article %>
      </h2>
      <div class="article-info">
        <span class="date"><%= date(article.date) %></span>
      </div>
    </article>
  <% end %>
</div>
